<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Overview{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section>
        <h2>Select a driver!</h2>
        <form id="driverForm">
            <select name="driver" id="driverSelect">
                {% for driver in drivers %}
                 <option value="{{driver.driverId_encoded}}">{{driver.driver_fullname}}</option>
                {% endfor %}

            </select>
            
        </form>

    </section>
    <section>
        <h2>Select a constructor!</h2>
        <form id="constructorForm">
            <select name="constructor" id="constructorSelect">
                {% for constructor in constructors %}
                 <option value="{{constructor.constructorId_encoded}}">{{constructor.constructor_name}}</option>
                {% endfor %}

            </select>
            
        </form>
    </section>
    <section>
        <h2>Select a Grand Prix track!</h2>
        <form id="trackForm">
            <select name="track" id="trackSelect">
                {% for track in tracks %}
                 <option value="{{track.GP_name_encoded}}">{{track.GP_track_name}}</option>
                {% endfor %}

            </select>
            
        </form>

    </section>
</body>