<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Overview{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section>
        <h2>Select a driver!</h2>
        <form id="driverForm">
            <select name="driver" id="driverSelect">
                {% for driver in drivers %}
                 <option value="{{driver.driverId_encoded}}">{{driver.driver_fullname}}</option>
                {% endfor %}

            </select>
            
        </form>

 

        <div id="driverSlider" class ="slider">
            {% for driver in drivers %}
            <div class="card" data-value="{{ driver.driverId_encoded}}" onlick="selectDriverCard('{{ driver.driverId_encoded}}')">
                <img src="{{ url('static', filename='drivers/' + driver.driver_fullname|lower|replace(' ', '_') + '.png')}}" class = "card-img"
                    alt="{{ driver.driver_fullname}}" class="card-img">
                <p>{{ driver.driver_fullname}}</p>
            </div>
                {% endfor %}
        </div>
    </section>

        <section>
            <h2>Select a constructor!</h2>
            <form id="constructorForm">
                <select name="constructor" id="constructorSelect">
                    {% for constructor in constructors %}
                     <option value="{{constructor.constructor}}">{{constructor.constructor_name}}</option>
                    {% endfor %}
    
                </select>
                
            </form>
    
        
            <div id="constructorSlider" class ="slider">
                {% for constructor in constructors %}
                <div class="card" data-value="{{ constructor.constructorId_encoded}}" onlick="selectConstructorCard('{{ constructor.constructorId_encoded}}')">
                    <img src="{{ url('static', filename='constructor/' + constructor.constructor_name|lower|replace(' ', '_') + '.png')}}" class = "card-img"
                        alt="{{ constructor.constructor_name}}" class="card-img">
                    <p>{{ constructor.constructor_name}}</p>
                </div>
                    {% endfor %}
            </div>
        </section>
    <section>
        <h2>Select a Grand Prix track!</h2>
        <form id="trackForm">
            <select name="track" id="trackSelect">
                {% for track in tracks %}
                 <option value="{{track.GP_name_encoded}}">{{track.GP_track_name}}</option>
                {% endfor %}

            </select>
            
        </form>

    
        <div id="trackSlider" class ="slider">
            {% for track in tracks %}
            <div class="card" data-value="{{ track.GP_name_encoded}}" onlick="selectTrackCard('{{ track.GP_name_encoded}}')">
                <img src="{{ url('static', filename='track/' + track.GP_track_name|lower|replace(' ', '_') + '.png')}}" class = "card-img"
                    alt="{{ track.GP_track_name}}" class="card-img">
                <p>{{ track.GP_track_name}}</p>
            </div>
                {% endfor %}
        </div>
</section>

<section class = "predict-selection">
    <button id="predictBtn" class = "neon-btn">Predict Race Outcome!</button>
</section>

<section id="resultSection" class="result hidden">
    <h2>🏁 Prediction Results</h2>
    <div id="predictionOutput" class ="prediction-box">
        <p>Loading preditcion...</p>
    </div>
</section>

<script>
    async function sendPrediction() {
        const driverId = document.getElementByıd("driverSelect").value;
        const constructorId = document.getElementByıd("constructorSelect").value;
        const GP_name = document.getElementByıd("trackSelect").value;

        const response = await fetch("/predict", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                driverId_encoded: driverId,
                constructorId_encoded: constructorId,
                GP_name_encoded: GP_name
            })
        });
    }
</script>

</body>